html{
    background-color: #fff;
    font-size: 10px;
    overflow-x: hidden;
}


body{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

h1{
    font-size: 6rem;
    color: #7D00FD;
    width: 50rem;
    line-height: 110%;
    padding: 4rem 0;
    font-weight: bold;
}

p{
    font-size: 2.4rem;
    color: ##262626;
    width: 55rem;
    line-height: 122%;
}

h5{
    font-size: 4.7rem;
    font-weight: bold;
    color: #7D00FD;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

h2{
    font-size: 3.5rem;
    color: #7D00FD;
    margin-bottom: 2rem;
    font-weight: bold;
}

h3{
    font-size: 5rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

h4{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px 0 50px;
    margin: 0 auto;
    padding-top: 3rem;
  }

  nav img{
    height: 100%;
  }
.nav-buttons{
    display: flex;
    list-style-type: none;
}

.nav-buttons li{
    margin-left: 3rem;
    padding: 1rem;
    text-decoration: none;
    color: #262626;
    font-size: 2rem;
}

.button{
    text-decoration: none;
    color: #262626;
    font-size: 2rem;
    font-weight: bold;
}

.button-2{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    background-color: #7D00FD;
    border-radius: 27px;
    padding: 1.4rem 1.75rem;
    font-weight: bold;
}

.wrapper{
    display: grid;
    grid-gap: 90px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 3rem 0;
}

#desktopmedia{
    display: block;
}
#mobilemedia{
    display: none;
}

.hero{
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-bottom: 18rem;
    position: relative;
    top: -60px;
    right: -53px;
}
.hero-image{
    display: none;
}

#hero img{
    width: 100%;
}

.download1{
    padding: 4rem 0;
}
.download2{
    display: block;
    margin: 0 auto;
    padding: 3rem 0;
}

.fivescreens{
    display: block;
    margin: 0 auto;
    width: 80%;
    /* padding-top: 13rem; */
    padding-bottom: 5rem;
}
.hero-content{
    padding: 5rem;
    position: relative;
    top: 100px;
    padding-left: 0;
}

.content{
    margin-left: 5rem;
}
.image img{
  width: 100%;
}

.footer{
    background-color: #7D00FD;
    padding: 7rem 0 3rem 0
}

.main-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 4rem 4rem 0 4rem;
}

.social ul{
    display: flex;
    float: right;
    list-style-type: none;
}

.social li{
    margin: 0 20px;
}


@media screen and (max-width: 1000px) {
 .hero{
    background-size: 65%;
 }
 .fivescreens{
    width: 95%;
    padding-top: 0;
 }
 
}
@media screen and (max-width: 820px) {
    .hero{
       background-image: 60%;
    }

    h1{
        font-size: 3.4rem;
        width: 26.5rem;
    }

    p{
        font-size: 1.6rem;
        width: 60%;
    }

    h2{
        font-size: 2.5rem;
        
    }

    h3{
        font-size: 3rem;
        color: #fff;
        text-align: center;
    }

    /* .hero-content{
        margin-left: 2rem;
    } */

    
}

@media screen and (max-width: 690px) {
    .nav-buttons{
        display: none;
    }
    .hero{
       background-size: 65%;
    }
    /* .hero-content{
        margin-left: 2rem;
    } */

  
    .content{
        margin-left: 2rem;
        padding-top: 5rem;
    }
    .wrapper{
        display: block;
    }
    #desktopmedia{
        display: none;
    }
    #mobilemedia{
        display: block;
    }
    .footer{
        margin-top: 3rem;
    }
    .social li {
        margin: 0 11px;
    }
}

@media screen and (max-width: 580px) {
    
nav{
    padding: 30px 0 0 20px;
}

nav img{
    width: 40%;
}

.hero{
    background-image: none;
    position: static;
    padding-bottom: 0
 }

 .hero-image img{
     display: block;
     width: 90%;
     margin: 0 auto;
     position: relative;
     top: 33px;
 }
 .hero-image{
     display: block;
     width: 100%;
     margin: 0 auto;
 }
.hero-content{
    padding: 0;
    top: 50px;
}
.hero-content p{
    margin-left: 2rem;
    width: 94%;
}
.hero-content img{
    display: block;
    margin: 0 auto;
}

 h1{
    font-size: 3.4rem;
    text-align: center;
    width: 100%;
    padding: 4rem 0 2rem 0;
}
h5{
    font-size: 3.5rem;
    padding-top: 12rem;
}
p{
    font-size: 1.6rem;
    width: 95%;
}
h4{
    font-size: 1.2rem;
    color: #fff;
}
